<p class="subtitle">{{ captorName }}
  <button class="button is-small"
  (click)="gotoDetailCaptor( captorGid )">Détails</button>
</p>
<div class="chart-wrapper">
  <canvas
    baseChart
    [datasets]="lineChartDataSets"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
    [legend]="lineChartLegend"
  >
  </canvas>
</div>
