<div class="tile is-ancestor is-flex-wrap-wrap">
  <div class="tile is-vertical box">
    <p class="subtitle">{{ captorName }} </p>
    <div class="chart-wrapper">
      <canvas
        baseChart
        [datasets]="lineChartDataSets"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>
